@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/scrollbar";
@import "components/scrollbar_config";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/white-pages";
@import "layouts/circles";
@import "layouts/solutions";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Demi.eot');
  src:
    url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-MediumCn.eot');
  src:
    url('../fonts/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-MediumCn.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-MediumCn.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Bold.eot');
  src:
    url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Regular.eot');
  src:
    url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
